/* <!-- SITE BY BY MARIA T. ROJO - HTTPS://WWW.MARIATROJO.COM --> */

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
html, body {
	font-family: 'EB Garamond', serif;
}
.main-content {
	width: 100%;
}
a:link, a:visited {
	color: black;
}
a:hover, .navbar .collapse .navbar-nav .nav-link:hover {
	color: darkgray;
	text-decoration: none;
}

/* NAVBAR */
.navbar {
	border-bottom: 1px solid lightgray;
	z-index: 1000;
}
.navbar .navbar-brand {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
}
.hidden-nav-links {
	display: none;
}
.navbar .navbar-nav .padding-text, .padding-text {
	padding-right: 20px;
	padding-left: 20px;
}
.navbar .navbar-nav .nav-item .title, .tab-bar .title {
	font-size: 13px;
}
.navbar .navbar-nav .nav-item .title, .title {
	font-family: 'Ovo', serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
}
.navbar .navbar-toggler {
	outline: none;
}
.custom-toggler {
	margin-top: 6px;
}

/* HERO ROLLING IMAGES */
.hero-div {
	position: relative;
	margin: 77px auto 20px auto;
	width: 99%;
	text-align: center;
	z-index: 1;
}

/* TAB BAR */
.sticky-bar {
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	z-index: 120;
}
.sticky-bar .navbar-toggler {
	border: 0px;
	font-size: 13px;
	position: relative;
	right: 25px;
}
.icon {
	position: relative;
	bottom: 1px;
}

/* OVERVIEW */
.overview-div {
	text-align: center;
	padding: 100px 20px;
}
.overview-title {
	line-height: .8;
}
.overview-text {
	width: 50%;
	margin: 20px auto;

}
.overview-image {
	margin-top: 30px;
	width: 60%;
}

/* FEATURES */
.features-gray, .features-white {
	padding: 50px;
}
.features-gray {
	background-color: #e8e7ee;
}

/* SMALL PHOTOS */
.small-photos-div {
	text-align: center;
}
.small-photo {
	width: 75%;
	background-color: red;
	margin: 70px 5% 70px auto;
}

/* FOOTER */
.footer {
	background-color: #f8f9fa;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-align: right;
	padding: 16px 30px;
}
.logo {
	height: 20px;
	padding-left: 15px;
}
.rights {
	background-color: e8e7ee;
	text-align: left;
	font-size: 11px;
	padding: 5px 30px;
}

/* *******PRODUCTS PAGE******* */
.hero-div iframe {
	width: 100vw;
	height: 56.25vw;
}
.italic {
	font-style: italic;
	padding-right: 7px;
	font-size: 20px;
}
.photo {
	width: 100%;
}
.call-out-div {
	display: flex;
	text-align: center;
	align-items: center;
}
.accessory-photo {
	height: 70%;
}
/* *******ABOUT US PAGE******* */
.text-div {
	padding: 100px 50px;
}
.text-title {
	padding-bottom: 30px;
}
.gray-div {
	background-color: #e8e7ee;
}

/* *******BLOG******* */

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
    .hidden-nav-links{
        display: block;
	}
	.navbar .custom-header-nav .padding-text {
		padding: 5px 0px;
	}
}

@media (max-width:767px) {
	.features-collapse-gray {
		background-color: #e8e7ee;
	}
	.features-collapse-white {
		background-color: white;
	}
	.overview-text {
		width: 100%;
	}
}

@media (max-width:576px) {
	.navbar .navbar-nav .padding-text {
		padding: 5px 0px;
	}
}

@media (max-width:320px) {
	/* .sticky-bar .title {
		font-size: 10px;
	} */
}